# requirements.txt (Versi Baru, Minimalis, dan Cross-Platform)

streamlit==1.46.0
tensorflow-cpu==2.15.0
langchain-google-genai
langchain-community
faiss-cpu
python-dotenv
Pillow
reportlab
matplotlib
seaborn
h5py