# requirements.txt (Versi Final dengan TF 2.16 dan Keras 3)

streamlit==1.46.0
tensorflow==2.16.1
keras==3.3.3
langchain-google-genai
langchain-community
faiss-cpu
python-dotenv
Pillow
reportlab
matplotlib
seaborn
h5py